/* Global Variable - font size */
/* Universal tags */
body {
  position: relative;
  margin: 0;
  cursor: default;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #222;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

address, em {
  font-style: normal;
}

/* Typography : heading text */
h1 {
  font-size: 38px;
  font-weight: 700;
  color: #222;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  color: #222;
  margin: 0;
}

h3 {
  font-size: 17px;
  font-weight: 500;
  color: #222;
  margin: 0;
}

#slides {
  position: relative;
}

#slides > .slides__container {
  overflow: hidden;
  width: 100%;
  height: 700px;
}

#slides > .slides__container > .slides__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 300%;
  height: 700px;
  margin: 0;
}

#slides > .slides__container > .slides__img > li {
  width: 33.33333%;
  height: 700px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

#slides > .slides__container > .slides__img > li:nth-of-type(1) {
  background-image: url(images/img_mainvisual1.jpg);
}

#slides > .slides__container > .slides__img > li:nth-of-type(2) {
  background-image: url(images/img_mainvisual2.jpg);
}

#slides > .slides__container > .slides__img > li:nth-of-type(3) {
  background-image: url(images/img_mainvisual3.jpg);
}

#slides > .slides__container > .slides__img > li > a {
  display: block;
  height: 700px;
}

#slides > .pagination__line {
  position: absolute;
  left: 50%;
  bottom: 121px;
  margin-left: -25px;
  width: 50px;
  border-top: 1px solid #5a4f3d;
}

#slides > .slides__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: 100px;
  margin-left: -30px;
  width: 60px;
}

#slides > .slides__pagination > li {
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
}

#slides > .slides__pagination > li:nth-child(1), #slides > .slides__pagination > li:nth-child(2), #slides > .slides__pagination > li:nth-child(3) {
  background-image: url(images/pager_off.png);
}

#slides > .slides__pagination > li.on, #slides > .slides__pagination > li:hover {
  background-image: url(images/pager_on.png);
}

#slides > .slides__pagination > li > a {
  display: block;
  height: 12px;
}

#navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar > .navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 180px;
  padding-right: 200px;
  height: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#navbar > .navbar__container > .navbar__gnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
}

#navbar > .navbar__container > .navbar__gnb > li {
  margin: 0 17px;
  height: 24px;
}

#navbar > .navbar__container > .navbar__gnb > li > a {
  display: block;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
  font-family: 'Source Serif 4', sans-serif;
  font-weight: 300;
}

#navbar > .navbar__container > .navbar__gnb > li > a:hover {
  text-decoration: underline;
}

#navbar > .navbar__container > .navbar__logo {
  display: block;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

#navbar > .navbar__container > .navbar__snb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
}

#navbar > .navbar__container > .navbar__snb > li {
  margin: 0 9px;
  width: 50px;
  height: 12px;
}

#navbar > .navbar__container > .navbar__snb > li:first-of-type {
  width: 40px;
}

#navbar > .navbar__container > .navbar__snb > li > a {
  display: block;
  color: #fff;
  font-size: 12px;
  font-size: 12px;
  line-height: 12px;
}

#navbar > .navbar__container > .navbar__snb > li > a:hover {
  text-decoration: underline;
}

#contents__wrap h1 {
  margin-top: 70px;
  margin-bottom: 25px;
}

#contents__wrap h1 img {
  display: block;
  margin: auto;
}

#contents__wrap > .contents__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: calc(490px + 489px);
  height: 526px;
}

#contents__wrap > .contents__container .contents__left {
  overflow: hidden;
  position: relative;
  width: 490px;
}

#contents__wrap > .contents__container .contents__left > .slides__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: calc(490px * 3);
  height: 526px;
}

#contents__wrap > .contents__container .contents__left > .slides__product li {
  width: 490px;
}

#contents__wrap > .contents__container .contents__left > .slides__product li:nth-child(1) {
  background-image: url(images/bnr_slide1.jpg);
}

#contents__wrap > .contents__container .contents__left > .slides__product li:nth-child(2) {
  background-image: url(images/bnr_slide2.jpg);
}

#contents__wrap > .contents__container .contents__left > .slides__product li:nth-child(3) {
  background-image: url(images/bnr_slide3.jpg);
}

#contents__wrap > .contents__container .contents__left > .slides__product li > a {
  display: block;
  height: 526px;
}

#contents__wrap > .contents__container .contents__left > .contents__line {
  position: absolute;
  left: 40px;
  bottom: 62px;
  width: 50px;
  border-top: 1px solid #5a4f3d;
}

#contents__wrap > .contents__container .contents__left > .contents__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 60px;
}

#contents__wrap > .contents__container .contents__left > .contents__pagination > li {
  width: 12px;
  background-repeat: no-repeat;
}

#contents__wrap > .contents__container .contents__left > .contents__pagination > li:nth-child(1), #contents__wrap > .contents__container .contents__left > .contents__pagination > li:nth-child(2), #contents__wrap > .contents__container .contents__left > .contents__pagination > li:nth-child(3) {
  background-image: url(images/pager_off.png);
}

#contents__wrap > .contents__container .contents__left > .contents__pagination > li:hover {
  background-image: url(images/pager_on.png);
}

#contents__wrap > .contents__container .contents__left > .contents__pagination > li > a {
  display: block;
  height: 12px;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 489px;
  height: 252px;
  margin-top: -5px;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .news__txt__container {
  width: 244px;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .news__txt__container > .news__tit {
  position: absolute;
  left: 30px;
  top: 30px;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .news__txt__container > .news__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 30px;
  right: 50%;
  margin-right: 30px;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .news__txt__container > .news__btn > a {
  display: block;
  margin-right: 7px;
  width: 5px;
  height: 10px;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .news__txt__container > .news__txt {
  position: absolute;
  left: 30px;
  top: 50px;
  width: 184px;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .news__txt__container > .news__txt > li:nth-child(1) {
  display: block;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .news__txt__container > .news__txt > li:nth-child(2) {
  display: none;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .news__txt__container > .news__txt > li > a {
  display: block;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .news__txt__container > .news__txt > li > a > h3 {
  margin-bottom: 50px;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .news__txt__container > .news__txt > li > a > p {
  color: #8d8d8d;
  font-size: 12px;
  font-weight: 400;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .contents__arr {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 12px;
  height: 17px;
  background-image: url(images/bg_arr.png);
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .slides__news__img {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 245px;
}

#contents__wrap > .contents__container .contents__right > .contents__right__bottom > .slides__news__img > img {
  display: block;
  margin: 0;
  width: 245px;
  height: 252px;
}

footer {
  position: relative;
  margin-top: 100px;
}

footer > .footer__top__wrap {
  padding: 10px;
  height: 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

footer > .footer__top__wrap > .top__menu {
  position: absolute;
  left: 220px;
  top: 13px;
}

footer > .footer__top__wrap > .top__menu > a {
  margin-right: 8px;
  color: #6e6e6e;
  font-weight: 400;
  font-size: 13px;
}

footer > .footer__top__wrap > .top__notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 230px;
  top: 13px;
}

footer > .footer__top__wrap > .top__notice > h3 {
  margin-right: 20px;
  font-weight: 400;
  font-size: 15px;
}

footer > .footer__top__wrap > .top__notice > a {
  display: block;
  color: #9d9d9d;
  font-weight: 400;
  font-size: 13px;
}

footer > .footer__inner__box {
  position: relative;
  margin-left: 220px;
  height: 350px;
}

footer > .footer__inner__box > .footer__logo {
  position: absolute;
  left: 0;
  top: 50px;
}

footer > .footer__inner__box > .inner__left {
  position: absolute;
  left: 120px;
  top: 50px;
}

footer > .footer__inner__box > .inner__left > span,
footer > .footer__inner__box > .inner__left address,
footer > .footer__inner__box > .inner__left a {
  margin-right: 5px;
  color: #878787;
  font-size: 12px;
}

footer > .footer__inner__box > .inner__left > span > a {
  color: #000;
}

footer > .footer__inner__box > .inner__left > span > a:hover {
  text-decoration: underline;
}

footer > .footer__inner__box > .inner__left .num > span {
  display: inline-block;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 12px;
}

footer > .footer__inner__box > .inner__left .num > span > em {
  color: #9c742f;
}

footer > .footer__inner__box > .inner__left .num > span:nth-of-type(8), footer > .footer__inner__box > .inner__left .num > span:nth-of-type(9), footer > .footer__inner__box > .inner__left .num > span:nth-of-type(10) {
  border: 1px solid #000;
  color: #000;
}

footer > .footer__inner__box > .inner__left > a:hover {
  text-decoration: underline;
}

footer > .footer__inner__box > .inner__left > p {
  color: #878787;
  font-size: 14px;
}

footer > .footer__inner__box > .inner__line {
  position: absolute;
  right: 50%;
  margin-right: -45px;
  top: 50px;
  height: 180px;
  border-right: 1px solid #e4e4e4;
}

footer > .footer__inner__box > .inner__right {
  margin-left: 700px;
  padding-top: 35px;
  font-size: 12px;
}

footer > .footer__inner__box > .inner__right > .tit {
  font-size: 13px;
  color: #4f4f4f;
  font-weight: 600;
}

footer > .footer__inner__box > .inner__right > .txt {
  color: #7e7e7e;
}

footer > .footer__inner__box > .inner__right > a {
  display: inline-block;
  margin-top: 18px;
  color: #6d9811;
  font-weight: 500;
  font-size: 13px;
}

footer > .footer__inner__box > .inner__right > a:hover {
  text-decoration: underline;
}

#footer__fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 63px;
  background-color: #443a31;
}

#footer__fixed > a {
  display: inline-block;
  margin-left: 220px;
  color: #fff;
  font-weight: 400;
  font-size: 21px;
  font-family: serif;
  height: 63px;
  line-height: 63px;
}

#footer__fixed > a > span {
  font-family: initial;
}
/*# sourceMappingURL=style.css.map */