/* Global */
:root{
    /* Color */
    --color-white: #fff;
    --color-white-blur: rgba(255, 255, 255, 0.187);
    --color-light-white: #eee;
    --color-dark-white: #bdbdbd;
    --color-purple: #aa69b7;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-pink: #c28a9c;
    --color-yellow: hsl(50, 100%, 91%);
    --color-orange: #feb546;
    --color-black: #000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Annimation */
    --animation-duration: 300ms;
}

/* Universal tags */
*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    cursor: default; /*텍스트에 마우스가 올라가도 입력커서가 아닌 기본화살표가 나오도록*/
}

a{
    text-decoration: none;
    color: var(--color-white);
}

ul{
    padding-left: 0;
}

li{
    list-style: none;
}

button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

/* Typography : heading text*/
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}


/* -----Navbar----- */
#navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    width: 100%;
    color: var(--color-white);
    align-items: center; /*아이템 세로정렬*/
    background-color: transparent;
    transition: all var(--animation-duration) ease-in-out;
    z-index: 1;
}

#navbar.navbar--dark{
    background-color: var(--color-pink);
    opacity: 0.9;
}

.navbar__menu{
    display: flex;
}

.navbar__logo{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__logo a{
    display: flex;
    width: 130px;
    height: 35px;
}

.navbar__logo img{
    display: block;
    width: 30px;
    height: 35px;
}

.navbar__logo p{
    margin: 0 10px;
    line-height: 35px;
}

.navbar__menu__item{
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
}

.navbar__menu__item.active{
    border: 1px solid #fff;
}

.navbar__menu__item:hover{
    background-color: var(--color-white-blur);
}

    /* 토글버튼 */
.navbar__toggle-btn{
    display: none;
    position: absolute;
    top: 27px;
    right: 32px;
    color: #fff;
    font-size: 24px;
}


/* -----Home----- */
#home{
    padding: 160px 0 40px;
    height: 770px;
    text-align: center;
    background: url(images/background.png) center/cover no-repeat;
}

.home__avatar{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 2px solid var(--color-light-white);
}

.home__title,
.home__description{
    color: var(--color-white);
}

.home__contact{
    color: #fff;
    font-size: var(--font-regular);
    font-weight:var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid #fff;
    border-radius: 4px;
}

/* --'section' class common-- */
.section{
    margin: auto;
    padding: 50px;
    text-align: center;
}

.section__container{
    /* 배경을 좌우 전면에 넣고 싶을 때, html에서 이 div클래스를 추가하여 그 안에 요소들을 넣어준다. */
    max-width: 1200px;
    margin: auto;
}

/* -----About----- */
.about__majors{
    display: flex;
    margin: 80px 0;
    justify-content: space-between;
}

.major__icon{
    margin: auto;
    margin-bottom: 16px;
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px; /*Awesome-font도 폰트이기 떄문에 font-size로 크기조절*/
    border: 2px solid var(--color-pink);
    border-radius: 50%;
}

.major__icon i{
    /* 250-350ms가 사용자가 보기에 적합한 수치 */
    transition: all var(--animation-duration) ease;
}

/* icon전체에 hover했을 때 i에만 스타일링을 변경 */
.major__icon:hover i{
    color:var(--color-pink);
    transform: rotate(-30deg) scale(1.1);
}

.major__title,
.major__description{
    color: var(--color-dark-grey);
}


/* -----Skill----- */
#skills{
    background-color: var(--color-yellow);
}

.skillset{
    display: flex;
    margin: 30px 0;
    background-color: var(--color-light-grey);
    color: var(--color-light-white);
}

.skillset__title{
    color: var(--color-white);
}

.skillset__left{
    /* flex-basis: Flex 요소의 기본크기 설정 - row일때는 너비 */
    flex-basis: 60%;
    padding: 20px 40px;
    background-color: var(--color-dark-grey);
}

.skill{
    margin-bottom: 32px;
}

.skill__description{
    display: flex;
    justify-content: space-between;
}

.skill__bar{
    width: 100%;
    height: 3px;
    background-color: var(--color-grey);
}

.skill__value{
    /* width 값은 각각 다르게 줄 것이기 때문에 html에서*/
    height: 3px;
    background-color: var(--color-orange);
}

.skillset__right{
    flex-basis: 40%;
}

.tools{
    background-color: var(--color-grey);
}

.tools, .etc{
    padding: 20px;
}


/* -----Portfolio----- */
.portfolio__categories{
    margin: 40px;
}

.category__btn{
    border: 1px solid var(--color-dark-white);
    border-radius: var(--size-border-radius);
    font-size: var(--font-regular);
    padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover{
    background-color: var(--color-pink);
    color: var(--color-white);
}

.category__btn.active .category__count, /*btn이 active 상태인 count와*/
.category__btn:hover .category__count{
    opacity: 1;
    top: 0;
}

.category__count{
    display: inline-block;
    position: relative;
    top: -20px;
    left: 4px;

    width: 24px;
    height: 24px;
    color: var(--color-white);
    font-size: var(--font-small);
    line-height: 24px;
    background-color: var(--color-orange);
    border-radius: 50%;

    opacity: 0; /*평소에는 보이지 않다가 hover시 밑으로 내려오도록*/
    transition: all var(--animation-duration) ease-in;
}

.portfolio__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio__list{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 2px;
    width: 280px;
    height: 250px;
    background-color: var(--color-light-white);
}

.portfolio__img{
    max-width: 100%; /*부모 사이즈만큼, 다른 아이템에 겹쳐지지 않게*/
    max-height: 100%;
}

    /* hover시 나올 작품설명 */
.portfolio__description{
    display: flex;
    flex-direction: column; /*열 방향 flex*/
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transform: translateY(10px); /*10px 아래에서*/
    transition: all var(--animation-duration) ease-in;
}

.portfolio__list:hover .portfolio__description{
    opacity: 0.8;
    transform: translateY(0px); /*원래자리로 올라오도록*/

}

.portfolio__description h3{
    color: var(--color-white);
}

    /* 중앙 선 */
.portfolio__description h3:after{
    content: '';
    display: block;
    position: relative;
    left: 50%;
    margin-left: -12px;
    margin-top: 8px;

    width: 25px;
    height: 2px;
    background-color: var(--color-dark-white);
}


/* -----Contact----- */
#contact{
    background-color: var(--color-pink);
}

#contact h1{
    margin-bottom: -20px;
    color: var(--color-white);
}

.contact__container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 350px;
}

.contact__txt{
    display: flex;
    align-items: center;
    text-align: left;
}

.contact__txt p{
    margin-top: 25px;
    font-size: 22px;
    line-height: 35px;
}

.contact__txt h2,
.contact__txt p,
.contact__list{
    color: var(--color-white);
}

    /* 중앙 세로선 */
.contact__txt:after{
    content: '';
    display: block;
    position: relative;
    left: 0;
    top: 0;
    margin-left: 80px;

    width: 2px;
    height: 100px;
    background-color: var(--color-white);
    opacity: 0.7;
}

.contact__list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 80px;
}

.contact__list a{
    display: flex;
    align-items: center;
    margin: 13px 0;
    font-size: var(--font-regular);
}

.contact__list p{
    margin: 0;
    margin-left: 10px;
}

.contact__list a:hover{
    color: var(--color-yellow);
}



/* -----footer----- */
footer{
    padding: 10px 0;
    background-color: var(--color-light-white);
}

.contact__rights{
    height: 50px;
    color: var(--color-dark-grey);
    line-height: 50px;
    text-align: center;
}


/* -----media query----- */

@media screen and (max-width:768px){

    /* Navbar */
    .navbar__toggle-btn{
        display: block;
    }

    #navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__menu{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    /* About */
    .about__majors{
        flex-direction: column;
    }

    .mjor{
        margin-bottom: 38px;
    }

    /* Skills */
    .skillset{
        flex-direction: column;
    }

    /* Portfolio */
    .portfolio__list{
        flex-grow: 1; /*화면을 가득 채우는것*/
    }

    /* Contact */
    .contact__container{
        flex-direction: column;
        height: 560px;
    }

    .contact__txt{
        margin-top: 50px;
        text-align: center;
    }

    .contact__txt:after{
        display: none;
    }

    .contact__txt__box{
        margin: auto;
    }

    .contact__txt__box p{
        font-size: var(--font-regular);
    }

    .contact__list{
        margin: 30px auto 0;
    }

    .contact__list a{
        font-size: 24px;
    }
}